body{
    color: white;
     background-color: black;
    }

    ul{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    a{
color: white;
text-decoration: none;
    }

    img{
       width:120px;
       height:150px;
       border-radius:50%;
       border: 5px solid rgb(0, 0, 255) ;
    }